# Python
__pycache__/
*.pyc
.venv/
venv/

# .NET / C#
[Bb]in/
[Oo]bj/
.vs/
*.rsuser

# Gowin / FPGA build outputs
cores/**/impl/
cores/**/obj/
cores/**/*.fs
cores/**/*.bin
cores/**/*.bit
cores/**/*.vo
cores/**/*.vvp
cores/**/*.rpt
cores/**/*.log
cores/**/*.tmp
cores/**/*.bak

systems/**/impl/
systems/**/obj/
systems/**/*.fs
systems/**/*.bin
systems/**/*.bit
systems/**/*.vo
systems/**/*.vvp
systems/**/*.rpt
systems/**/*.log
systems/**/*.tmp
systems/**/*.bak
systems/**/*.gprj.user

# Editors
.vscode/
.idea/
*.user
*.suo

# OS
Thumbs.db
.DS_Store

# Adi local/runtime
*.tmp
*.uart.log
artifacts/
